@model PendingBlog

@{
	ViewData["Title"] = "Approved";
}

<hr />

	<div class="col-md-4">
	<form asp-action="Approved" asp-controller="ApprovedBlogPost" method="post">

			<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<p asp-for="Id" class="form-control" readonly></p>
			</div>

			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<textarea asp-for="Content" class="form-control" readonly/>
			</div>

			<div class="form-group">
				<label asp-for="CreatedDate" class="control-label"></label>
				<textarea asp-for="CreatedDate" class="form-control"></textarea>
			</div>

			<br />
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-success" /> |
				<a asp-action="Index" class="btn btn-primary">Back to List</a>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success" >Approved</button> |
				<a asp-action="Discard" class="btn btn-danger">Discard</a>
			</div>
		</form>
	</div>
