@model LoginVM

@{
	ViewData["Title"] = "LogIn Page";
}
<div class="card-body">
	<div class="row">
		<div class=" col-md-3 card p-3">
			<form asp-controller="Account" asp-action="LogIn" method="post">
				<h2 class="text-center text-info"> LogIn </h2>
				<div class="mb-1">
					<label asp-for="Name" class="label-control">Email</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="mb-1">
					<label asp-for="password"></label>
					<input asp-for="password" class="form-control" />
					<span asp-validation-for="password" class="text-danger"></span>
				</div>

				<div>
					<input type="checkbox" asp-for="RememberMe" value="true" />
					<!-- <input type="checkbox" asp-for="RememberMe" value="false" type="hidden" />--->
					<label asp-for="RememberMe"></label>
				</div>
				
				<div class="row">
					<div class="col-4">
						<input type="submit" value="LogIn" class="btn btn-primary" />
					</div>
				</div>
			</form>	
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
	</div>	
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}